// Define variables for your color scheme

// For example:
$red: #FD1015;
$main-purple: #5D3869;
$secondary-purple: #774887;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #36B019;
$gray: #492C52;
$light-gray: rgba(179, 255, 119, 0.2);
$border-green: #000;
$text-gray: #333;
// for shadows
$sienna: rgba(33, 32, 21, 0.1);
$sienna-active: rgba(33, 32, 21, 0.15);
