// Define variables for your color scheme

// For example:
$red: #FD1015;
$main-purple: #5D3869;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #36B019;
$gray: #492C52;
$light-gray: rgba(179, 255, 119, 0.2);
$border-green: #000;
$text-gray: #333;

// rgba(71, 102, 48, 0.7)
