<div class="container">
  <h1>Learn more about us and our plans</h1>

  <div class="card p-3 custom-card-static custom-padding">
  <h5>Call Us</h5><p><b>+52 55 80 20 14</b></p>
  <h5>Send Us an email</h5><p><u>contacto@clarity.com.mx</u></p>
  </div>
</div>
