<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Clarity</h1>
    <p class="lead">Mind and body care from home</p>
    <hr class="my-4">
    <p>Clarity is a virtual care service that combines a human-centric approach with technology to address chronic physical and behavioral health conditions.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="contact" role="button">Learn more</a>
    </p>
  </div>
</div>
