<div class="jumbotron jumbotron-fluid banner-jumbotron">
  <div class="container w-75">
    <h1 class="display-4">Clarity</h1>
    <p class="lead">Mind and body care from home</p>
    <hr class="my-4">
    <div class="card p-3" style="color: black;">

      <p>Clarity is a virtual care service that combines a human-centric approach with technology to address chronic physical and behavioral health conditions.</p>
      <p class="text-right">
        <a class="btn btn-primary btn-lg" href="contact" role="button">Learn more</a>
      </p>
    </div>

  </div>
</div>
