.custom-card-image {
  border-radius: 6px 6px 0 0;
  border: none;
  height: 250px;
  object-fit: cover;
}

.custom-profile-image {
  height: 200px;
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
  margin-bottom: 24px;
}
