.custom-plans-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 16px;

  @media screen and (max-width: $big-mobile) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.custom-container-home {
  position: relative;
  top: 72px;
  height: calc(100vh - 72px);
  border: 3px solid red;

}
.custom-user-plans {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px 16px;
}

.custom-coaches-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px 16px;

  @media screen and (max-width: $custom-lg) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

   @media screen and (max-width: $custom-md) {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

   @media screen and (max-width: $custom-sm) {
    grid-template-columns: 1fr;
    gap: 16px;

  }
}

// Custom paddings
.custom-padding {
  padding: 24px;
}

.custom-padding-sm {
  padding: 16px;
}

// This creates a container 80% of the parents size
.custom-eigth-container {
  width: 80%;
  margin: 0 auto;
}

// Custom spacing on the langing planlist
.custom-landing-spacing {
  // margin: 76px auto;

  //  @media screen and (max-width: $big-mobile) {
  //   margin: 88px auto;
  // }
}

.container-dashborad-empty {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &:last-child {
    margin-top: 20px;
  }
}
// Custom spacing for pages
.custom-vertical-spacing {
  margin: 46px auto;

   @media screen and (max-width: $big-mobile) {
    margin: 58px auto;
  }
}

