.custom-card, .custom-card-static, .custom-card-appointments {
  border-radius: 8px;
  border: none;
  box-shadow: 6px 6px 6px $sienna;
  transition: 250ms ease-in-out;
}

.custom-card, .custom-card-appointments {
  // drop-shadow: 8px, 8px, 8px, rgba(34, 28, 59, 0.7);
  &:hover {
    box-shadow: 6px 6px 6px $sienna-active;
  }
}

.custom-card-coach {
  // drop-shadow: 8px, 8px, 8px, rgba(34, 28, 59, 0.7);
  width: 200px;
  height: 200px;
  &:hover {
    box-shadow: 6px 6px 6px $sienna-active;
  }
}

// Related to custom card appointments
.custom-description-dashboard {
  flex-basis: 35%;
}

.custom-card-appointments {
  background-color: #eee;
  width: 100%;
}

.custom-card-consultation-show {
  width: 100%;
}

.card-dashboard {
  @media screen and (min-width: $custom-sm) {

  }

  @media screen and (min-width: $custom-md) {
    display: flex;
    flex-direction: row;
  }
}

.card-appointment {
  @media screen and (min-width: $custom-md) {
    display: flex;
    justify-content: space-between;
  }
}

.card-appointment-details {

  @media screen and (min-width: $custom-sm) {
    display: flex;
    flex-direction: row;
  }

  p {
    font-weight: bold;
  }

  &:last-child {
    @media screen and (min-width: $custom-sm) {
      margin-left: 1rem;
    }
  }
}







  // @media screen and (min-width: $custom-sm) {
  // }

  // @media screen and (min-width: $custom-md) {
  // }

  // @media screen and (min-width: $custom-lg) {
  // }
