.custom-card, .custom-card-static {
  border-radius: 8px;
  border: none;
  box-shadow: 6px 6px 6px $sienna;

}

.custom-card {
  // drop-shadow: 8px, 8px, 8px, rgba(34, 28, 59, 0.7);
  &:hover {
    box-shadow: 6px 6px 6px $sienna-active;
  }
}
