// Import your components CSS files here.
$big-mobile: 769px;
$custom-lg: 1188px;
$custom-md: 881px;
$custom-sm: 530px;

@import "alert";
@import "avatar";
@import "navbar";
@import "banners";
@import "font_formatting";
@import "custom_card";
@import "custom_button";
@import "custom_image_settings";
@import "custom_container";
@import "font_formatting";
@import "custom_modal";
@import "list";
