<div class="d-flex">
  <%= image_tag "https://source.unsplash.com/collection/631011", alt: "alttext",  style: 'width:35%; object-fit:cover;' %>
  <div class="custom-padding">
    <p> <%= plan.description.capitalize %> </p>
    <p> <%= plan.goal_description %> </p>
  </div>
</div>
