<% plans.each do |plan| %>

  <div class="card custom-card shadow" style="width: 50%;">
    <img src="#" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= plan.name %></h5>
      <p class="card-text"><%= plan.description %></p>
      <a href="#" class="btn btn-primary">View plan</a>
    </div>
  </div>
<% end %>
